.enroll{
    @include respond(phone){
        max-width: 90%;
        margin: 0 auto;
        width: 80%;
    }
    @include respond(tab-port){
        margin: 0 auto;
        width: 90%;

    }
    @include respond(pc){
        margin: 0 auto;
        width: 90%;
        max-width: 1134px;

    }

    &__form{
        @include respond(phone){
            padding: 3rem 2rem;
            width: 75%;
        }
        @include respond(tab-port){
            padding: 3rem 2rem;
            width: 75%;
        }
        @include respond(pc){
            padding: 3rem 2rem;
            width: 90%;
        }
    }
}

.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;

    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        padding: 1.5rem 2rem;
        color: inherit;
        border: none;
        border-radius: 0.2rem;
        border-bottom: 3px solid transparent;

        display: block;
        background-color: rgba($color: $color-white, $alpha: 0.5);
        width: 80%;
        transition: all .3s;

        @include respond(tab-port){
            width: 90%;
        }
        @include respond(pc){
            width: 90%;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: 0.15);
            border-bottom: 3px solid $color-primary;

            &:invalid {
                //validate
                border-bottom: 3px solid $color-secondary-dark;
            }
        }

        &::-webkit-input-placeholder {
            color: $color-grey;
        }

    }

    &__input:placeholder-shown + &__label {
        // khi show placeholder thì label ẩn đi. label là element liền ngay phía sau
        opacity: 0;
        visibility: hidden; //ẩn
        transform: translateY(-4rem);
        transition: all 0.3s;
    }

    &__label {
        font-size: 1.5rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 0.7rem;
        display: block;
        transition: all 0.3s;
    }

    &__radio-input{
        display: none;
    }

    &__radio-group {
        display: inline-block;
        width: 28%;
    }

    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4rem;

    }

    &__radio-button {
        height: 2rem;
        width: 2rem;
        border: 0.5rem solid $color-primary;
        border-radius: 10rem;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.4rem;

        &::after {
            content: "";
            display: block;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after{
        opacity: 1;

    }
    &__radio-input:checked ~ &__radio-label{
        color: $color-primary;
    }

    .btn-submit {
        padding: 10px 40px;
        margin-top: 1rem;
    }

}
